@charset "utf-8";
html{
    height:100%;
    overflow:auto;
}
body{
    margin:0px;
    font-family:"Microsoft YaHei", "微软雅黑", sans-serif;
    overflow:hidden;
}
a{
    text-decoration: none;
    outline:none !important;
    color:#333;
}
a:hover{
    text-decoration:underline;
    color:#BF0000;
}
textarea{
    overflow: auto;
}
caption{
    text-align:center;
}
input{
    display:inline-block;
    /*line-height:1.7;*/
    box-sizing: border-box;
}
input[type="text"]{
    padding:2px 0px;
    border:1px solid #aaa;
}
input[type="password"]{
    padding:2px 0px;
    border:1px solid #aaa;
}
button, input[type="button"], input[type="reset"], input[type="submit"]{
    display:inline-block;
    box-sizing: border-box;
    cursor:pointer;
}
dl{
    margin:0px auto;
}
dd{
    margin:0px auto;
}
iframe{
    display:block;
    border:none;
}
img{
    display:inline-block;
    border:none;
}
small {
    font-size: 12px;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
td,th{
    border:solid 1px #ddd;
    font-weight:normal;
}
ul{
    padding:0px;
    margin:0px auto;
    list-style: none;
}
.abs {
    position:absolute;
}
.btn {
    display: inline-block;
    outline: none;
    position: relative;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 0 0.45em;
    line-height:1.7;
    background-image:linear-gradient(180deg, #f9f9f9,#eee);
    border-radius: 0.4em;
    border:1px solid #ddd;
}
.btn.select{
    border:1px solid #6fc5ed;
}
.btn.gray{
    border:1px solid #bababa;
    box-shadow: 0 1px 2px #ededed inset,0 -1px 0 #969696 inset,0 -2px 3px #ededed inset;
    background-image:linear-gradient(18180deg,#eee,#ccc);
}
.btn.red{
    border:1px solid #b42323;
    box-shadow: 0 1px 2px #e99494 inset,0 -1px 0 #954b4b inset,0 -2px 3px #e99494 inset;
    background-image:linear-gradient(-9180deg,#d53939,#b92929);
}
.btn.yellow{
    border:1px solid #d2a000;
    box-shadow: 0 1px 2px #fedd71 inset,0 -1px 0 #a38b39 inset,0 -2px 3px #fedd71 inset;
    background-image:linear-gradient(180deg,#fece34,#d8a605);
}
.btn.green{
    border:1px solid #64c878;
    box-shadow: 0 1px 2px #b9ecc4 inset,0 -1px 0 #6c9f76 inset,0 -2px 3px #b9ecc4 inset;
    background-image:linear-gradient(180deg,#90dfa2,#84d494);
}
.btn.blue{
    border:1px solid #1e7db9;
    box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
    background-image:linear-gradient(180deg,#42a4e0,#2e88c0);
}
.btn.violet{
    border:1px solid #ab1eba;
    box-shadow: 0 1px 2px #e48eed inset,0 -1px 0 #8f4896 inset,0 -2px 3px #e48eed inset;
    background-image:linear-gradient(180deg, #d041e0, #b12ebf);
    text-decoration: none;
}
.btn.cyan{
    border:1px solid #1e9dba;
    box-shadow: 0 1px 2px #8edced inset,0 -1px 0 #488896 inset,0 -2px 3px #8edced inset;
    background-image:linear-gradient(180deg, #41c3e0, #2ea5bf);
    text-decoration: none;
}
.gray:hover{
    background-image:linear-gradient(180deg,#f0f0f0,#ddd);
}
.black:hover{
    background-image:linear-gradient(180deg,#818181,#575757);
}
.red:hover{
    background-image:linear-gradient(180deg,#eb6f6f,#c83c3c);
}
.yellow:hover{
    background-image:linear-gradient(180deg,#ffd859,#e3bb38);
}
.green:hover{
    background-image:linear-gradient(180deg,#aaebb9,#82d392);
}
.blue:hover{
    background-image:linear-gradient(180deg,#70bfef,#4097ce);
}
.violet:hover{
    background-image:linear-gradient(180deg, #e371f0, #c040cf);
}
.cyan:hover{
    background-image:linear-gradient(180deg, #71dbf0, #40b7cf);
}
.gray:active{
    top:1px;
    box-shadow: 1px 1px 3px #666 inset,1px 2px 0 #fff;
    background-image:linear-gradient(180deg,#a8a8a8,#b0b0b0);
}
.red:active{
    top:1px;
    box-shadow: 0 1px 3px #5b0505 inset,0 2px 0 #fff;
    background-image:linear-gradient(180deg,#b11a1a,#bf2626);
}
.yellow:active{
    top:1px;
    box-shadow: 0 1px 3px #816b1f inset,0 2px 0 #fff;
    background-image:linear-gradient(180deg,#d3a203,#dba907);
}
.green:active{
    top:1px;
    box-shadow: 0 1px 3px #4d7254 inset,0 2px 0 #fff;
    background-image:linear-gradient(180deg,#5eac6e,#72b37e);
}
.blue:active{
    top:1px;
    box-shadow: 0 1px 3px #114566 inset,0 2px 0 #fff;
    background-image:linear-gradient(180deg,#1a71a8,#1976b1);
}
.violet:active{
    top:1px;
    box-shadow: 0 1px 3px #5e1166 inset,0 2px 0 #fff;
    background-image:linear-gradient(180deg,#9a19a8,#a119b0);
}
.cyan:active{
    top:1px;
    box-shadow: 0 1px 3px #115866 inset,0 2px 0 #fff;
    background-image:linear-gradient(180deg,#1990a8,#1997b0);
}
.clr {
    zoom: 1;
    overflow:hidden;
}
.clr:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.cnt{
    display:block;
    margin:0px auto;
}
.even{
    background:#EFEFEF;
}
.hide{
    display:none;
}
.inb{
    display:inline-block;
}
.ivb{
    visibility:hidden;
}
.lft{
    float:left;
}
.rlt{
    position: relative;
}
.nbd{
    border:none;
}
.rgt{
    float:right;
}
.rnk{
    zoom: 1;
    overflow:hidden;
}
.rnk:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.rnk > li{
    display:inline-block;
    padding:0px 2px;
}
.mid{
    display:inline-block;
    vertical-align:middle;
}
.odd{
    background-color:#f7f7f7;
}
.show{
    display:block;
}
