@charset "utf-8";
/* CSS Document */
html{
    overflow:auto;
}
body{
    margin:0px;
    overflow:hidden;
    font-family:"微软雅黑", "宋体", sans-serif;
}
a{
    text-decoration: none;
    color:#333;
}
a.hover{
    color:#c00;
     text-decoration: underline;
}
a.black{
     color:#f7f7f7;
     text-decoration: underline;
}
button, input[type="button"], input[type="reset"], input[type="submit"]{
    cursor: pointer;
}
img{
    display:inline-block;
    border:none;
}

table{
    border-collapse:collapse;
}
td,th{
    border:solid 1px #ddd;
    text-align:left;
    font-weight:normal;
}
ul{
    padding:0px;
    margin:0px auto;
    list-style: none;
}
.abs {
    position:absolute;
}
.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 0.5em;
    line-height:1.8;
    background-image:linear-gradient(0deg, #eee, #f7f7f7);
    border-radius: 0.4em;
    border:1px solid #ddd;
}
.btn:hover {
    background-image:linear-gradient(0deg, #e5e5e5, #f5f5f5);
    text-decoration: none;
}
.btn:active {
    position: relative;
    top: 1px;
}
.btn.select{
    background-image:linear-gradient(0deg, #e5e5e5, #f5f5f5);
    border:1px solid #50DBF8;
    color:#333;
    text-decoration: none;
}
.btn.green{
    background-image:linear-gradient(0deg, #99fb9d, #cefad0);
    text-decoration: none;
}
.btn.red{
    background-image:linear-gradient(0deg, #fb9999, #fcd3d3);
    text-decoration: none;
}
.btn.orange{
    background-image:linear-gradient(0deg, #f9d787, #fcebc4);
    text-decoration: none;
}
.btn.cyan{
    background-image:linear-gradient(0deg, #72e2fa, #b0effc);
    text-decoration: none;
}
.clr {
    zoom: 1;
    overflow:hidden;
}
.clr:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.cnt{
    margin:0px auto;
    overflow: hidden;
}
.even{
    background:#EFEFEF;
}
.hide{
    display:none;
}
.inb{
    display:inline-block;
}
.lft{
    float:left;
}
.nbd{
    border:none;
}
.rgt{
    float:right;
}

.rnk{
    zoom: 1;
    overflow:hidden;
}
.rnk:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.rnk li{
    float:left;
    padding:0px 5px;
}

.rnk .first{
    padding-left:2px;
}
.rnk .last{
    padding-right:2px;
}
.mid{
    vertical-align:middle;
}
.odd{
    background-color:#f7f7f7;
}
.show{
    display:block;
}
