@charset "utf-8";
html{
    height:100%;
    overflow:auto;
}
body{
    margin:0px;
    overflow:hidden;
}
*{
    font-family:"Microsoft YaHei", "微软雅黑",Tahoma;
}
a{
    text-decoration: none;
    outline:none !important;
    color:#333;
}
a:hover{
    text-decoration:underline;
    color:#BF0000;
}
caption{
    text-align:center;
}
hr{
    border:none;
    background-color:#888;
    height:1px;
    line-height:1;
}
input{
    display:inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    font-size:12px;
    height:1.85em;
}
input[type="text"],input[type="password"]{
    padding:2px 0px;
    border:1px solid #aaa;
}
input[type="button"], input[type="reset"], input[type="submit"]{
    cursor:pointer;
}
dl,dt,dd{
    margin:0px auto;
}
iframe{
    display:block;
    border:none;
}
img{
    display:inline-block;
    border:none;
}
small {
    font-size: 12px;
}

select{
    display:inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    font-size:12px;
    height:1.85em;
}
sup {
    font-size: 0.6em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.25em;
}
sub {
    font-size: 0.6em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
textarea{
    overflow: auto;
    margin:3px 0px;
    display:inline-block;
    box-sizing: border-box;
    vertical-align:middle;
}
ul,ol{
    padding:0px;
    margin:0px auto;
    list-style: none;
}
.abs {
    position:absolute;
}
.btn {
    outline: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align:middle;
    text-decoration: none;
    padding: 0.1em 0.5em;
    font-size:12px;
    letter-spacing:0.1em;
    line-height:1.65em;
    height:1.65em;
    background-image:linear-gradient(180deg, #f9f9f9,#dfdfdf);
    border-radius: 0.2em;
    border:1px solid #bbb;
}
.btn:hover{
    outline:1px solid #c7effb;
}
.clr {
    zoom: 1;
}
.clr:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.cnt{
    display:block;
    margin:0px auto;
}
.even{
    background:#f7f7f7;
}
.hide{
    display:none;
}
.inb{
    display:inline-block;
}
.ivb{
    visibility:hidden;
}
.lft{
    display:inline;
    float:left;
}
.rlt{
    position: relative;
}
.nbd{
    border:none;
}
.rgt{
    display:inline;
    float:right;
}
.rnk{
    zoom: 1;
}
.rnk:after {
    content: ".";
    display: block;
    height: 0;
    line-height:0;
    clear: both;
    visibility: hidden;
}
.rnk > li{
    display:inline-block;
    padding:0px 2px;
}
.mid{
    display:inline-block;
    vertical-align:middle;
}
.odd{
    background-color:#fff;
}
.show{
    display:block;
}
.txt-rgt{
    text-align:right !important;
}
.txt-lft{
    text-align:left !important;
}
.txt-cnt{
    text-align:center !important;
}
.txt-star:after{
    display:inline-block;
    padding:0px 3px;
    content:"*";
    color:#e00;
}
